* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #091133;
    font-size: 36px;
}

h2 {
    color: #091133;
}

#p1 {
    color: #6F7CB2;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 10px;
    font-size: 16px;
}

#p2 {
    font-size: 12px;
    color: #5D6970;
    margin-top: 6px;
}

main {
    display: flex;
    width: 1156px;
    height: 524.31px;
}

#container {
    display: flex;
    margin-top: 100px;
}

#um {
    width: 540px;
    height: 204px;
    margin-top: 35px;
}

#dois {
    width: 255px;
    height: 138px;
}

#tres {
    width: 255px;
    height: 138px;
}

#quatro {
    width: 524.31px;
    height: 540px;
    display: flex;
    justify-content: flex-end;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }